name: Evening Train Check

on:
  schedule:
    # evening: monday~friday
    # JST 17:00 (UTC 08:00, monday~friday)
    - cron: '00 08 * * 1-5'
    # JST 17:30 (UTC 08:30, monday~friday)
    - cron: '30 08 * * 1-5'
  workflow_dispatch:
  push:
    branches:
      - dev

permissions:
  contents: read
  issues: write

jobs:
  evening-check:
    uses: ./.github/workflows/reusable_check.yml
    with:
      direction: "up"
      target_station: "刈谷"
      range_n: "6"
      # enable_error_notification: "true"

    secrets:
      WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}